<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <title>Document</title>
    <script src="/assets/js/jquery.js" defer></script>
    <script src="/assets/js/actions.js" defer></script>

    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />

   


    <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
   </style>
</head>

<body>
    <div class="container">
        <div class="head">
            <h1 class="head-greating-name">Hello <%= userData.firstname %>,</h1>
            <p class="head-greeting-message">Goodmorning 👊🏻</p>
            <div class="head-icons-container">
                <a class="head-icon-item" href="/profile">
                    <div class="icon-circle"></div>
                    <div class="icon-item-name">Profile</div>
                </a>
                <a class="head-icon-item" href="/">
                    <div class="icon-circle"></div>
                    <div class="icon-item-name">Apps</div>
                </a>
                <a class="head-icon-item" href="/stats">
                    <div class="icon-circle"></div>
                    <div class="icon-item-name">Statistics</div>
                </a>
            </div>
        </div>
        <section class="apps-container">
            <div class="apps-head">
                <h2 class="section-name">My Apps</h2>
                <a class="add" href="/create-app"></a>
            </div>
            <div id="apps-list-container">

                <% app.forEach((item, i)=> {%>

                    <div class="app" app-id="<%= item._id %>">
                        <div class="app-top">
                            <div class="app-top-left">
                                <div class="app-status"></div>
                                <p>
                                    <%= item.name %>
                                </p>
                            </div>

                            <a class="app-top-right" href="/app/<%=item._id%>">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>

                            </a>
                        </div>
                        <% if(item.links.length > 0 ) { %>
                            <div class="app-bottom">
                        <% } %>

                        <% if(item.links.length > 0 ) { 
                            item.links.forEach((item, i)=> {
                                %>


                                <a class="link" link-id="<%= item._id %>" href="/link/<%= item._id %>">
                                    <div class="link-top">
                                        <p>
                                            <%= item.name %>
                                        </p>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </div>

                                    <div class="link-bottom">
                                        <div class="link-stats">
                                            <div class="link-stats-vws">
                                                <div class="views">
                                                    <p><%= item.views %></p><i class="fa-solid fa-eye"></i>
                                                </div>
                                            </div>

                                            <div class="link-stats-sts">
                                                <p class="status">online</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <% })}
                                
                                %>
                          
                            
                                
                            
                            
                            
                        
                       <% if(item.links.length > 0 ) { %>
                            </div> 
                        <% } %>
                               
                    






















                    </div>
                <% }); %>
                    

                <% 
                if(app.length < 1) { %>
                    <p class="notification-emp">Nothing to see.</p>
                <%}
                %>


            </div>

           
        </section>
        <div class="copyright-wrapper">
            <p class="copyright">Compatguard <br />creation by Bananen Team</p>
        </div>
    </div>
</body>

</html>